<footer>
    <!-- <ul>
        <li>Important Links</li>
        <li><a href="/">Home</a></li>
    <% if(locals.user){ %>         
        <li><a href="/users/profile">Profile</a></li>       
      <% }else{ %>
        <li><a href="/users/sign-up">Sign Up</a></li>
        <li><a href="/users/sign-up">Sign In</a></li>
    <% } %>
        


    </ul> -->
   <div class="copy">
    <p>&#169; Codeial | 2022 All Rights Reserved</p>
   </div>

</footer>