<h1>
    Sign Up
</h1>

<form action="/users/create" method="post">
    <input type="text" name="name" required placeholder="Enter Name">
    <input type="email" name="email" required placeholder="Enter Email">
    <input type="password" name="password" required placeholder="Enter Password">
    <input type="password" name="cpassword" required placeholder="Confirm Password">
    <input type="submit" value="Sign Up">
</form>