<h1>
    Sign In
</h1>

<form action="/users/create-session" method="post">
    <input type="email" name="email" required placeholder="Enter Email">
    <input type="password" name="password" required placeholder="Enter Password">
    <input type="submit" value="Sign In">
</form>

<br>
<a href="/users/auth/google">Login with Google</a>